header {
  position: fixed;
  top: 0;
  background-color: #ffffff;
  z-index: 999;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  transition: height 0.25s;
  width: 100%;

  &.shrink {
    height: 4.375rem;
    nav {
      height: 4.375rem;
    }

    .bar {
      bottom: -1.3125rem;
    }
  }
  .title {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    span {
      font-weight: 500;
    }
  }
  nav {
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.25s;

    ul {
      list-style: none;
      display: flex;
      position: relative;

      .bar {
        position: absolute;
        background-color: #2487da;
        border-radius: 2px;
        height: 4px;
        width: 0;
        bottom: -2.25rem;
        left: 0;
        transition: left 0.3s ease, width 0.3s ease;
      }
      li {
        padding-left: 2rem;
      }
      a {
        display: block;
        font-weight: 500;
        text-decoration: none;
        transition: border 0.15s;
        border-bottom: 3px solid transparent;
        &:hover {
          color: lighten(#525b75, 20);
        }
        &.active {
          // border-bottom: 2px solid #2487da;
        }
      }
      & > :first-child {
        margin-left: 0;
      }

      @media (max-width: 576px) {
        li {
          padding-left: 0.5rem;
        }
        a {
          font-size: 0.9rem;
        }
      }
    }
  }
}
