header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  transition: height 0.25s;

  &.shrink {
    height: 70px;
    nav {
      height: 70px;
    }
  }
  .title {
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 600;
    span {
      font-weight: 500;
    }
  }
  nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height 0.25s;

    ul {
      list-style: none;
      display: flex;
      @media (max-width: 576px) {
        display: none;
      }
      li {
        margin-left: 1.25rem;
      }
      a {
        display: block;
        font-weight: 500;
        text-decoration: none;
        transition: border 0.15s;
        border-bottom: 3px solid transparent;
        &:hover {
          color: lighten(#525b75, 20);
        }
        &.active {
          border-bottom: 3px solid #2487da;
        }
      }
      & > :first-child {
        margin-left: 0;
      }
    }
  }
}
