.jumbotron {
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 5rem;

  h6 {
    color: #6b6b6b;
  }
  h1 {
    font-size: 3.25rem;
    font-weight: 700;
    color: #525b75;
  }
  h2 {
    font-size: 1.9rem;
    font-weight: 500;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.125rem;
    width: 70%;

    @media (max-width: 768px) {
      max-width: 720px;
      width: 100%;
    }
  }

  .links {
    display: flex;
    margin-top: 2rem;
    a {
      margin-right: 1rem;
      svg {
        fill: #505c78;
      }
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
}
