*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}
html {
    font-size: 16px;
}
body {
    box-sizing: border-box;
    background-color: #F2F3F8;
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 576px) {
    html {
      font-size: 14px;
    }
  }
.container {
}
.container-fluid {
    padding-top: 5rem; 
    padding-bottom: 5rem; 
 }
.navbar-brand {
    color: #525b75!important;
    font-size: 1.5rem;
    font-weight: 800;
}
.navbar-brand span {
    font-weight: 600!important;
}
.main-info {
    margin-bottom: 8rem;
}
img.photo {
    display: block;
    max-width: 320px;
    max-height: 320px;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.05);
    border: 1rem solid #fff;
}
h1.name {
    color: #525b75;
    font-size: 3.4rem;
    font-weight: 800;
}
h5.job {
    color: #8089A3;
    font-size: 1.2rem;
    font-weight: 500;
}
h2 {
    color: #8089A3;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
h4 {
    color: #8089A3;
    font-size: 1.5rem;
    font-weight: 400;
}
p.info {
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li a {
    display: block;
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #626d8d;
    text-decoration: none!important;
    border-radius: 5px;
    transition: all .2s ease-in-out
}
nav ul li a:hover, nav ul li a.active {
    color: #2786FB;
    background-color: #e7e9f1;
}
p {
    margin: 2rem 0;
    color: #333;
    font-size: 1rem;
    margin-bottom: .8rem;
}
section.service .card {
    margin-bottom: 2rem;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}
section.service .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h4 {
    margin-top: 1rem;
    color: rgb(67, 86, 109);
    font-size: 1.2rem;
    font-weight: 700;
}
section p {
    margin-top: 1rem;
    color: #586069;
    font-size: 1rem;
    font-weight: 400;
}
section.service i {
    margin-top: 3rem;
    margin-bottom: 3rem;
    transform: scale(2);
    color: #2b4f7c!important;
}
section.service p {
    margin-top: 1rem;
}
footer {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}
footer p {
    text-align: center;
    color: #8089a3;
}
footer .icons {
    display: flex;
}
footer .icons a {
    color: #69728f;
    margin: 0 1rem;
}
footer .icons a:hover {
    color: #8089a3;
}
